body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans serif;
}

div {
    box-sizing: border-box;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
}

a:hover {
    color: #b4e391;
}

form {
    display: block;
    margin-top: 0em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}


/*STAR HEADER-----------------------------------------------------------------------------------------*/

.top-logo {
    width: 1200px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.logo-bar {
    overflow: hidden;
}

.logo-bar ul {
    margin: 0;
    float: left;
    display: inline-block;
}

.logo-bar ul li {
    display: inline-block;
}

.logo-bar .logo-left {
    width: 40%;
    padding: 15px 0;
    margin: 0;
    font-weight: 500;
}

.logo-bar .logo-mid {
    width: 20%;
    padding: 5px 0;
    text-align: center;
    padding-bottom: 0px;
}

.logo-bar .logo-right {
    width: 40%;
    padding: 10px 0;
    text-align: right;
}

.logo-bar .logo-left li {
    margin-right: 10px;
}

.logo-bar a.current {
    color: #00703a;
    font-weight: 600;
}

.login-box {
    border: 1px solid #dddedf;
    overflow: hidden;
    border-top: 0px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 0px;
}

.logo-bar .logo-right li input[type="button"],
.login-box>button {
    cursor: pointer;
    border: 1px solid #e2e2e3;
    margin: 0;
    padding: 7px;
    width: 108px;
    text-align: center;
    float: right;
    font-size: 12px;
    color: #00703a;
    background: linear-gradient(to bottom, #FFFFFF 20%, #D3D3D3 90%);
}

.logo-bar .logo-right li input[type="button"]:hover,
.login-box>input[type="button"]:hover,
.login-box>input[type="button"].active {
    border: 1px solid rgb(13, 170, 94);
    color: #fff;
    background: rgb(13, 170, 94);
}

.banner {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url("/Toeic_Web/javax.faces.resource/images/banner1.png.xhtml") 50% 50%;
    height: 452px;
    text-align: center;
    padding-top: 80px;
}

.banner h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    margin: 20px;
}

.banner h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 20px;
}

.banner>a {
    font-size: 25px;
    border: 2px solid #fff;
    padding: 18px 41px;
    margin-top: 42px;
    display: inline-block;
    color: #fff;
}

.banner>a:hover {
    border: 2px solid #03ce6c;
    color: #03ce6c;
}

/*STAR CONTENT-----------------------------------------------------------------------------------------*/

.content-container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

.sidebar-left {
    width: 222px;
    float: left;
}

.sidebar-left .list {
    width: 222px;
    height: 62px;
    display: block;
    margin: 0 auto 10px;
}

.sidebar-left .testTOEIC {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar.png.xhtml) 0 -222px;
}

.sidebar-left .testTOEIC:hover {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar-hover.png.xhtml) 0 -222px;
}

.sidebar-left .vocabulary {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar.png.xhtml) 0 0;
}

.sidebar-left .vocabulary:hover {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar-hover.png.xhtml) 0 0;
}

.sidebar-left .listening {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar.png.xhtml) 0 -75px;
}

.sidebar-left .listening:hover {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar-hover.png.xhtml) 0 -75px;
}

.sidebar-left .grammar {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar.png.xhtml) 0 -147px;
}

.sidebar-left .grammar:hover {
    background: url(/Toeic_Web/javax.faces.resource/images/left-sidebar-hover.png.xhtml) 0 -147px;
}

.content {
    width: 750px;
    padding: 0 20px;
    float: left;
    display: inline;
}

.content-box {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    overflow: hidden;
}

.content-box .header {
    background: none;
    padding: 0 0 16px 20px;
    margin: 0;
    width: 100%;
}

.content-box .header .h3-container {
    border-bottom: 4px solid #056838;
    margin: 0;
    padding: 5px 0 0 0;
    width: 100%;
}

.content-box .header .h3-container h3 {
    color: #056838;
    font-size: 23px;
    display: inline;
    font-family: 'UTM Bebas';
}

.content-box .header .h3-container .learn-all {
    margin-top: 4px;
    background: #056838;
    color: #fff;
    float: right;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    display: block;
    text-align: center;
}

.content-box .sub-header-container {
    background: none;
    width: 100%;
}

.content-box .sub-header {
    float: left;
    display: inline;
    margin: 0 0 8px 31px;
    color: #DE4E54;
    text-transform: uppercase;
    font-size: 14px;
}

.sub-header-container a {
    float: right;
    display: inline;
    color: #DE4E54;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.sub-header-container a:hover {
    float: right;
    display: inline;
    color: #056838;
    text-transform: uppercase;
    font-size: 13px;
}

.content-box .box {
    padding: 0 0 0 31px;
    margin: 0;
    width: 100%;
    float: left;
}

.box .box-item {
    height: 240px;
    width: 153px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 20px;
}

.box .box-item:nth-child(4n+0) {
    margin-right: 0;
}

.box .box-item .img {
    height: 113px;
    width: 160px;
    border: 1px solid #e3e3e3;
}

.box .box-item span {
    margin-top: 5px;
    margin-left: 2px;
    position: relative;
    height: 2px;
    width: 100%;
    display: block;
    border-radius: 1px;
    background-color: #CFCFCF;
}

.box .box-item h4 {
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    margin: 10px 0;
    height: 33px;
    overflow: hidden;
}

.box .box-item .learn {
    padding: 4px 33px;
    border: 1px solid #ddd;
    display: inline;
    color: #000;
    font-size: 13px;
    border-radius: 3px;
    font-size: 15px;
}

.box .box-item .learn:hover {
    color: #056838;
    border: 1px solid #056838;
}

.sidebar-right {
    width: 226px;
    float: left;
}

.sidebar-right .login-button>button:first-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sidebar-right .login-button>button:last-child {
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sidebar-right .login-button>button {
    border: 1px solid #e2e2e3;
    margin: 0;
    padding: 7px;
    width: 50%;
    text-align: center;
    float: right;
    font-size: 12px;
    color: #056838;
    background: linear-gradient(to bottom, #FFFFFF 20%, #D3D3D3 90%);
}

.sidebar-right .login-button>button:hover {
    color: #fff;
    background: linear-gradient(to bottom, #00CD66 0%, #006400 100%);
}

.sidebar-right .login-box {
    border: 1px solid #dddedf;
    overflow: hidden;
    border-top: 0px;
    padding: 5px;
    border-radius: 3px;
    margin-left: 1px;
}

.form .login-form {
    float: left;
    width: 100%;
    display: block;
    margin-top: 10px;
}

.form .form-line {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.form .info {
    text-align: center;
    font-size: 12px;
}

.google-login {
    background: #d34836;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    color: #fff;
    display: inline-block;
    padding: 7px 0 7px 0px;
    font-size: 12px;
}

.google-login:hover {
    color: #fff;
}

.login-form label {
    color: #056838;
    font-size: 13px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 140px;
    float: right;
    border: 1px solid #e2e2e2;
    padding: 3px;
    font-size: 15px;
}

.login-form .forgot-pass {
    color: #056838;
    font-size: 12px;
    text-decoration: underline;
}

.login-form input[type="submit"] {
    cursor: pointer;
    float: right;
    border: 1px solid #e2e2e2;
    padding: 5px 25px;
    background: #0b9653;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

.sidebar-spacing {
    clear: both;
    height: 15px;
    display: block;
    width: 100%;
}

.sidebar-member {
    background: url(/Toeic_Web/javax.faces.resource/images/member.png.xhtml) no-repeat;
    height: 70px;
}

.sidebar-member .sidebar-member-number {
    padding-top: 10px;
    padding-left: 95px;
    font-family: 'UTM Bebas';
    font-size: 28px;
    font-weight: 800;
    color: #056838;
}

.sidebar-chatbox {
    height: 300px;
    width: 100%;
    overflow: auto;
    font-size: 13px;
}

.sidebar-chatbox .chat-item {
    border-bottom: 1px solid #bebebe;
    padding: 15px 5px;
}

.chat-user {
    color: #056838;
    font-weight: 600;
}

.chat-time {
    color: #ccc;
}

.reply-for {
    background: #dedede;
    color: #4f4f4f;
    font-weight: 600;
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    border-radius: 5px;
}

.chat-item-reply {
    margin: 10px 0 5px 25px;
    border-top: 1px solid #bebebe;
    padding-top: 15px;
}

.vip {
    background: #FD9F4E;
    padding: 5px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-size: 11px !important;
    font-family: Arial, sans serif !important;
}

.sidebar-vipbox {
    margin: 0 auto;
    width: 330px;
    float: left;
}

.sidebar-vipbox .header {
    background: url(/Toeic_Web/javax.faces.resource/images/thanhvienvip.png.xhtml);
    width: 223px;
    height: 59px;
    display: block;
}

.vip-item {
    margin-top: 5px;
    padding: 3px 5px;
    border-bottom: #bebebe 1px solid;
    height: 45px;
    display: inline-block;
}

.vip-user {
    margin-left: 20px;
    display: inline-block;
    height: 30px;
    float: left;
    width: 140px;
    padding: 5px;
    font-size: 12px;
    vertical-align: middle;
}

.sidebar-dict .tudien {
    height: 400px;
    width: 100%;
    overflow: auto;
    font-size: 13px;
}

.sidebar-dict .tab-dict-content {
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    display: none;
}

.search-dict {
    width: 100%;
    padding: 10px 5px;
}

.search-dict input[type="submit"] {
    float: right;
    border: 1px solid #e2e2e2;
    padding: 3px 14px;
    background: #0b9653;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

.search-dict input[type="text"] {
    float: left;
    width: 140px;
}

.sidebar-dict .words-item {
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #e2e2e2;
}

.words {
    color: #056838;
    font-weight: 600;
}

.words-item .vip {
    background: #c9db2a;
    padding: 5px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-size: 11px !important;
    font-family: Arial, sans serif !important;
}

.sidebar-dict .vanban {
    height: 400px;
    width: 100%;
    overflow: auto;
    font-size: 13px;
}

.vanban p {
    margin: 5px;
}

.vanban textarea {
    width: 90%;
    height: 180px;
    margin: 0 5px;
    color: #000;
    font-family: Tahoma;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.vanban input[type="submit"] {
    margin: 5px 70px;
    border: 1px solid #e2e2e2;
    padding: 3px 14px;
    background: #0b9653;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

.tab-dict {
    overflow: hidden;
}

.tab-dict ul {
    margin: 0;
    padding: 0;
    border-bottom: 4px solid #006400;
    margin-bottom: 3px;
}

.tab-dict li {
    display: inline;
    font-size: 15px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.tab-dict li:hover {
    color: #90EE90;
}

.tab-dict li.active {
    color: #00CC00;
    margin: 0;
}

.sidebar-news .tab-news {
    margin: 0;
    padding: 0;
    border-bottom: 4px solid #0B56C1;
    margin-bottom: 3px;
}

.sidebar-news .tab-news li {
    display: inline;
    font-size: 15px;
    padding: 5px 3px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-news .tab-news li:hover {
    color: #6CA6CD;
}

.sidebar-news .tab-news li.active {
    color: #6CA6CD;
}

.tab-news-content {
    display: none;
    font-size: 12px;
}

.tab-news-content .tab-row {
    display: table-row;
}

.tab-row div {
    display: table-cell;
    width: 10%;
}

.icon {
    font-size: 7px;
    color: #000080;
}

.tab-row .title {
    padding: 0 2px;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-row .title a {
    color: #00008B;
    text-decoration: none;
}

.tab-row .title a:hover {
    color: #4876FF;
    text-decoration: none;
}


/*END CONTENT-----------------------------------------------------------------------------------------*/

/*STAR FOOTER-----------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    margin: 0 auto;
    background:url(/Toeic_Web/javax.faces.resource/images/footer-bg.png.xhtml) repeat-x;
    background-position: top;
    background-color: transparent;
    height: 150px;
}

.footer div {
    display: inline;
}
.footer img {
    float: left;
    width: 200px;
    height: 85px;
    padding-top: 40px;
    padding-left: 100px;
}

.footer .footer-l {
    left: 52%;
    position: absolute;
}

.footer .verti-line {
    border-left: 2px solid green;
    height: 150px;
    position: absolute;
    left: 69%;
}

.footer-r {
    left: 75%;
    position: absolute;
}

.footer h4 {
    font-size: 15px;
}
/*END FOOTER-----------------------------------------------------------------------------------------*/

/*STAR PAGE LOGIN------------------------------------------------------------------------------------*/
.login-content {
    width: 100%;
    height: 300px;
    margin: auto;
}
.login-content > .lg-form {
    display: block;
}
.lg-form .head {
    width: 100%;
    height: 66px;
    margin: auto;
}
.head img {
    margin-left: 152px;
    margin-top: 5px;
    margin-bottom: 4px;
    color: #00703a;
    float: left;
}
.head h2 {
    margin-left: 57px;
    float: left;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Tahoma;
    font-size: 36px;
    color: #00703a;
}
.lg-form hr {
    width: 100%;
    border: 1px solid gray;
}
.lg-form .fm-line {
    width: 80%;
    margin: auto;
}
.fm-line .dkgg {
    background: #d34836;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    color: #fff;
    display: inline-block;
    padding: 7px 0 7px 0px;
    font-size: 16px;
    font-weight: bold;
}
.fm-line input[type="text"], input[type="password"] {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid gainsboro;
}
.fm-line input[type="submit"] {
    margin-top: 10px;
    margin-left: 32%;
    background-color: #00703a;
    color: white;
    border: 0;
    width: 34%;
    height: 30px;
}
.fm-line .nothave {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 30%;
    display: inline-block;
}

.fm-line .forgot-pass {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 32%;
    display: inline-block;
}

.fm-line .dk {
    color: blue;
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 5px;
    display: inline-block;
}
/*END PAGE LOGIN------------------------------------------------------------------------------------*/

/*STAR PAGE EXAM------------------------------------------------------------------------------------*/
.content-box .box-body {
    width: 100%;
    padding: 0 0 20px 20px;
}
.content-box .box-body .img{
    width:180px;
    height:120px;
    float:left;
    border: 1px solid #056838;
}
.content-box .box-body .info{
    padding:0 0 0 20px;
    float:left;
    font-size:13px;
    width:390px;
}
.content-box .box-body .info .fa{
    color: #056838;
}
.content-box .box-body .info .button{
    display:block;
    width:300px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    background:#03ce6c;
    padding:5px;
    margin:3px 0;
    border-radius:3px;
}
.content-box .infobox {
    float: left;
    width: 100%;
}
.infobox {
    padding: 0 0 16px 20px;
}
.h3-title {
    background-color: #056838;
    color: white;
    padding:10px;
    cursor:pointer;
    font-size: 15px;
}
.cover-content-infobox {
    padding: 20px;
    font-size: 13px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    width: 100%;
}
.comment-box{
    padding:15px 0 0 31px;
    font-size:12px;
}
.comment-box h3{
    font-family: 'UTM Bebas';
    font-size:25px;
    margin:0 0 10px 0;
}
.comment-box .img{
    float:left;
    display:inline-block;
    width:55px;
    height:55px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:2px;
    margin-right:10px;
}
.comment-new .form.new_comment textarea{
    width:607px;
    height:50px;
}
.form.new_comment input[type=submit]{
    float:right;
}
/*END PAGE EXAM------------------------------------------------------------------------------------*/