<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TOEIC WEB</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <h:outputStylesheet name="css/toeic_css.css"/>
        <h:outputScript name="js/toeic_js.js"/>
    </h:head>
    <h:body>
        <!--STAR HEADER-->
        <div class="top-logo logo-bar">
            <ul class="logo-left">
                <li> <a href="#" class="current">Trang Chủ</a> </li>
                <li> <a href="#">Giới thiệu về website</a> </li>
            </ul>
            <ul class="logo-mid">
                <a href="home.xhtml"><img src="resources/images/logo1.png" height="40px" width="150px"/></a>
            </ul>
            <ul class="logo-right">
                <li>
                    <h:button class="login" id="btnDangNhap" outcome="login" value="ĐĂNG NHẬP"></h:button>
                </li>
                <li>
                    <h:button class="login" id="btnDangKy" outcome="signup" value="ĐĂNG KÝ"></h:button>
                </li>
            </ul>
        </div>
        <div class="banner">
            <h3>Luyện thi TOEIC online hiệu quả!</h3>
            <h4><i class="fa fa-check"></i> Website luyện thi TOEIC trực tuyến số 1 tại Việt Nam </h4>
            <h4><i class="fa fa-check"></i> Hơn 14000+ câu hỏi, 500+ bộ đề luyện thi TOEIC có đáp án </h4>
            <h4><i class="fa fa-check"></i> Truy cập ngay với 199.000 VNĐ / 1 năm, luyện thi TOEIC online thoải mái không giới hạn tài liệu </h4>
            <a href="#">Đăng Ký Ngay</a>
        </div>
        <!--END HEADER-->
        <!-- STAR LEFT SIDE BAR -->
        <div class="content-container">
            <div class="sidebar-left">
                <a href="#" class="list testTOEIC">&nbsp;</a>
                <a href="#" class="list vocabulary">&nbsp;</a>
                <a href="#" class="list listening">&nbsp;</a>
                <a href="#" class="list grammar">&nbsp;</a>
                <h:graphicImage name="images/left-sidebar-promo.png"/>
                <div class="sidebar-news">
                    <ul class="tab-news">
                        <li class="tab-items" onclick="opentTabNews(event, 'all')" id="defaultOpenNews">Tất cả</li>
                        <li class="tab-items" onclick="opentTabNews(event, 'blog')">Blog</li>
                        <li class="tab-items" onclick="opentTabNews(event, 'news')">Tin tức</li>
                        <li class="tab-items" onclick="opentTabNews(event, 'teach')">Bài giảng</li>
                    </ul>
                    <div class="tab-news-content" id="all">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">TOEIC 900: Tổng hợp các giáo trình luyện thi TOEIC 900 điểm</a>
                            </div>
                            <div class="date">02/02/2018</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cấu trúc bài thi thử toeic reading</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cách đăng ký thành viên trên website</a>
                            </div>
                            <div class="date">22/12/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Tổng hợp tài liệu thi thử toeic mới nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                    </div>
                    <div class="tab-news-content" id="blog">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Top 3 phần mềm thi thử toeic hiệu quả nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Tổng hợp tài liệu thi thử toeic mới nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Một số gợi ý địa điểm thi thử toeic hà nội</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Thi thử toeic ở đâu sát với đề thi thực tế nhất</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                    </div>
                    <div class="tab-news-content" id="news">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Giới thiệu tính năng trên website Toeic 123</a>
                            </div>
                            <div class="date">26/07/2017</div>
                        </div>
                    </div>
                    <div class="tab-news-content" id="teach">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">TOEIC 900: Tổng hợp các giáo trình luyện thi TOEIC 900 điểm</a>
                            </div>
                            <div class="date">02/02/2018</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cấu trúc bài thi thử toeic reading</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cách đăng ký thành viên trên website</a>
                            </div>
                            <div class="date">22/12/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Tổng hợp tài liệu thi thử toeic mới nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT SIDE BAR -->
            <div class="content">
                <div class="content-box">
                    <div class="header">
                        <div class="h3-container">
                            <h3 class="title_link"><a href="/category/4">Thi thử TOEIC</a> » <a href="/category/34">Thi thử toeic Full - Phần Reading</a></h3>
                            <a href="home.html" class="learn-all"> Quay trở lại</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="img" style="background:url(/Toeic_Web/javax.faces.resource/images/reading_test_img.png.xhtml); background-size: cover;"></div>
                        <div class="info">
                            <h3>#{ExamBean.name}</h3>
                            <div class="meter">
                                <span style="width: 0%"></span>
                            </div>
                            <i class="fa fa-plus-square"></i> Tổng số câu hỏi:
                            <b>#{ExamBean.quest}</b>
                            <br></br>
                            <i class="fa fa-plus-square"></i> Ngày đăng:
                            <b>#{ExamBean.time}</b>
                            <br></br>
                            <a class="button" href="/vip-upgrade">Làm bài ngay</a>
                        </div>
                    </div>
                    <div class="infobox">
                        <h3 class="h3-title">VIDEO HƯỚNG DẪN GIẢI CHI TIẾT</h3>
                        <div class="cover-content-infobox">
                            <iframe src="https://www.youtube.com/embed/MuDb3Pc8nmI" style="width: 100%;height: 300px;" allowfullscreen="" width="110%"
                                    height="300px" frameborder="0"></iframe>
                        </div>
                        <h3 class="h3-title">GIỚI THIỆU CẤU TRÚC ĐỀ THI</h3>
                        <div class="cover-content-infobox">
                            BỘ ĐỀ 1 - Tổng hợp các câu hỏi trong phần&nbsp;
                            <em>
                                <strong>
                                    <a href="https://www.toeic123.vn/category/4">thi thử toeic</a>
                                </strong>
                            </em>&nbsp;thực tế phần Reading gồm 100 câu hỏi.&nbsp; Phần thi Reading&nbsp;(đọc hiểu) được thực hiện
                            ngay sau khi thí sinh kết thúc phần thi nghe. Phần thi này dùng để đánh giá vốn từ vựng, ngữ pháp
                            tiếng Anh và khả năng đọc hiểu các đoạn văn ngắn. Các câu hỏi và phần thông tin liên quan đều được
                            in trực tiếp trên đề thi. Có tất cả&nbsp;100 câu&nbsp;và thí sinh có&nbsp;75 phút&nbsp;để hoàn thành.

                            <table style="width:100%" cellspacing="0" cellpadding="5" border="1">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:middle; width:50px">Phần B</td>
                                        <td style="vertical-align:middle; width:150px">Nội dung thi</td>
                                        <td style="vertical-align:middle; width:50px">Số câu</td>
                                        <td style="vertical-align:middle">Chi tiết</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle">Phần 5</td>
                                        <td style="vertical-align:middle">Hoàn thành câu</td>
                                        <td style="vertical-align:middle">40 câu</td>
                                        <td style="vertical-align:middle">Bạn cần phải chọn từ đúng nhất để hoàn thành câu.</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle">Phần 6</td>
                                        <td style="vertical-align:middle">Hoàn thành đoạn văn</td>
                                        <td style="vertical-align:middle">12 câu</td>
                                        <td style="vertical-align:middle">Mỗi đoạn văn có 03 chỗ trống.&nbsp;Bạn phải điền từ thích hợp còn thiếu vào mỗi chỗ trống
                                            trong đoạn văn đó.</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" style="vertical-align:middle">Phần 7</td>
                                        <td style="vertical-align:middle">Đoạn đơn</td>
                                        <td style="vertical-align:middle">28 câu</td>
                                        <td style="vertical-align:middle">Đề thi có thể có từ 7-10 đoạn văn đơn. Hết mỗi đoạn văn sẽ có 2-5 câu hỏi.</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle">Đoạn kép</td>
                                        <td style="vertical-align:middle">20 câu</td>
                                        <td style="vertical-align:middle">Trong phần này sẽ có từ 04 cặp đoạn văn. Hết mỗi cặp đoạn văn sẽ có 5 câu hỏi.</td>
                                    </tr>
                                </tbody>
                            </table>

                            Chúc mọi người&nbsp;
                            <em>
                                <strong>
                                    <a href="https://www.toeic123.vn">luyện thi toeic</a>
                                </strong>
                            </em>&nbsp;hiệu quả cùng với website nhé

                        </div>
                    </div>
                </div>
            </div>
            <!-- STAR RIGHT SIDE BAR -->
            <div class="sidebar-right">
                <div class="sidebar-member">
                    <div class="sidebar-member-number">29864 </div>
                </div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-dict">
                    <div class="tab-dict">
                        <ul class="tab-news">
                            <li class="tab-dict-link" onclick="openTabDict(event, 'tudien')" id="defaultOpen">Từ điển</li>
                            <li class="tab-dict-link" onclick="openTabDict(event, 'vanban')">Dịch văn bản</li>
                        </ul>
                    </div>
                    <div class="tab-dict-content" id="tudien">
                        <div class="tudien">
                            <div class="search-dict">
                                <h:form>
                                    <h:inputText title="tudien"/>
                                    <h:commandButton value="Tìm"/>
                                </h:form>
                            </div>
                            <div class="words-item">
                                <span class="words">avoid</span>
                                <p class="trans"> <span class="vip">Động từ</span> </p>
                                <p><b>Tránh; Ngừa</b></p>
                                <p>To avoid the city centre, turn right here
                                    <br> Để tránh trung tâm thành phố, hãy rẽ phải ở đây</br>
                                    <br>I think he's avoiding me</br>
                                    <br>Tôi nghĩ là anh đang tránh tôi</br></p>
                            </div>
                            <div class="words-item">
                                <span class="words">baby</span>
                                <p class="trans"> <span class="vip">Danh từ</span> </p>
                                <p><b>Em bé; con vật con</b></p>
                                <p>Both mother and baby are doing well
                                    <br> cả mẹ và bé đều khỏe mạnh</br>
                                    <br>a baby boy</br>
                                    <br>em bé trai</br></p>
                            </div>
                            <div class="words-item">
                                <span class="words">interest /'intrəst/ </span>
                                <p class="trans"> <span class="vip">Danh từ</span> </p>
                                <p><b>sự quan tâm, sự chú ý, sự thích thú</b></p>
                                <p>The subject may be full of interest to you, but it holds no interest for me
                                    <br>Chủ đề này có thể rất hấp dẫn đối với anh, nhưng tôi thì không</br>
                                    <br>A person of narrow interests</br>
                                    <br>Một người có sở thích hạn hẹp</br></p>
                                <p class="trans"> <span class="vip">Động từ</span> </p>
                                <p>interest oneself (somebody) [in something]</p>
                                <p><b>sự quan tâm, sự chú ý, sự thích thú</b></p>
                                <p>Tpolitics doesn't interest me
                                    <br>chính trị không làm cho tôi thích thú</br> </p>
                                <p><b>làm cho thích mua(ăn, làm…) gì</b></p>
                                can I interest you in our latest computer?
                                <br>Tôi có thể giới thiệu vớu ông kiểu máy điện toán đời mới nhất của chúng tôi không ạ?</br>
                            </div>
                        </div>
                    </div>
                    <div class="tab-dict-content" id="vanban">
                        <div class="vanban">
                            <p><b>Nội dung cần dịch</b></p>
                            <h:form>
                                <h:inputTextarea title="txtEng" id="txtEng"/>
                                <h:commandButton value="Dịch"/>
                                <p><b>Kết quả</b></p>
                                <h:inputTextarea title="txtVi" id="txtVi"/>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-vipbox">
                    <div class="header"></div>
                    <div class="vip-content">
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Minh Nhật</div>
                            <span class="vip">VIP</span>
                        </div>
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Tăng Hào</div>
                            <span class="vip">VIP</span>
                        </div>
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Hoàng Nguyễn</div>
                            <span class="vip">VIP</span>
                        </div>
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Mi Mi</div>
                            <span class="vip">VIP</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-chatbox">
                    <div class="chat-item">
                        <span class="chat-user">Minh Hoàng</span>
                        <p class="chat-content">ad cho hỏi phần nội dung của ets 1200 và ets 1000 đã có trong nội dung thi thử của web mình chưa ạ?</p>
                        <p class="chat-time">2018-01-31 10:20:28</p>
                        <button class="reply-for">Trả lời</button>
                        <div class="chat-item-reply">
                            <span class="chat-user">Admin <span class="vip">Quản trị viên</span></span>
                            <p class="chat-content">Chào em. Các đề thi này đều đã có trên website nhé</p>
                            <p class="chat-time">2018-01-31 17:37:08</p>
                        </div>
                    </div>
                    <div class="chat-item">
                        <span class="chat-user">bich hoang</span>
                        <p class="chat-content">tên app là gì vậy add
                            <br></br>
                        </p>
                        <p class="chat-time">2018-01-31 10:20:26</p>
                        <button class="reply-for" reply-for="763" section="question">Trả lời</button>
                        <div class="chat-item-reply">
                            <span class="chat-user">Admin <span class="vip">Quản trị viên</span></span>
                            <p class="chat-content">Chào bạn. Hiện tại website chỉ có bản mobile bạn nhé</p>
                            <p class="chat-time">2018-01-31 17:37:07</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END RIGHT SIDE BAR -->
        </div>

        <script>
            document.getElementById("defaultOpen").click();
            document.getElementById("defaultOpenNews").click();
        </script>
    </h:body>
</html>

