<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TOEIC WEB</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <h:outputStylesheet name="css/toeic_css.css"/>
        <h:outputScript name="js/toeic_js.js"/>
    </h:head>
    <h:body>
        <!--STAR HEADER-->
        <div class="top-logo logo-bar">
            <ul class="logo-left">
                <li> <a href="#" class="current">Trang Chủ</a> </li>
                <li> <a href="#">Giới thiệu về website</a> </li>
            </ul>
            <ul class="logo-mid">
                <a href="home.html"><img src="resources/images/logo1.png" height="40px" width="150px"/></a>
            </ul>
            <ul class="logo-right">
                <li>
                    <h:button class="login" id="btnDangNhap" outcome="login" value="ĐĂNG NHẬP"></h:button>
                </li>
                <li>
                    <h:button class="login" id="btnDangKy" outcome="signup" value="ĐĂNG KÝ"></h:button>
                </li>
            </ul>
        </div>
        <div class="banner">
            <h3>Luyện thi TOEIC online hiệu quả!</h3>
            <h4><i class="fa fa-check"></i> Website luyện thi TOEIC trực tuyến số 1 tại Việt Nam </h4>
            <h4><i class="fa fa-check"></i> Hơn 14000+ câu hỏi, 500+ bộ đề luyện thi TOEIC có đáp án </h4>
            <h4><i class="fa fa-check"></i> Truy cập ngay với 199.000 VNĐ / 1 năm, luyện thi TOEIC online thoải mái không giới hạn tài liệu </h4>
            <a href="#">Đăng Ký Ngay</a>
        </div>
        <!--END HEADER-->
        <!-- STAR CONTENT-CONTAINER -->
        <div class="content-container">
            <!-- STAR LEFT SIDE BAR -->
            <div class="sidebar-left">
                <a href="#" class="list testTOEIC">&nbsp;</a>
                <a href="#" class="list vocabulary">&nbsp;</a>
                <a href="#" class="list listening">&nbsp;</a>
                <a href="#" class="list grammar">&nbsp;</a>
                <h:graphicImage name="images/left-sidebar-promo.png"/>
                <div class="sidebar-news">
                    <ul class="tab-news">
                        <li class="tab-items" onclick="opentTabNews(event, 'all')" id="defaultOpenNews">Tất cả</li>
                        <li class="tab-items" onclick="opentTabNews(event, 'blog')">Blog</li>
                        <li class="tab-items" onclick="opentTabNews(event, 'news')">Tin tức</li>
                        <li class="tab-items" onclick="opentTabNews(event, 'teach')">Bài giảng</li>
                    </ul>
                    <div class="tab-news-content" id="all">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">TOEIC 900: Tổng hợp các giáo trình luyện thi TOEIC 900 điểm</a>
                            </div>
                            <div class="date">02/02/2018</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cấu trúc bài thi thử toeic reading</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cách đăng ký thành viên trên website</a>
                            </div>
                            <div class="date">22/12/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Tổng hợp tài liệu thi thử toeic mới nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                    </div>
                    <div class="tab-news-content" id="blog">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Top 3 phần mềm thi thử toeic hiệu quả nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Tổng hợp tài liệu thi thử toeic mới nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Một số gợi ý địa điểm thi thử toeic hà nội</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Thi thử toeic ở đâu sát với đề thi thực tế nhất</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                    </div>
                    <div class="tab-news-content" id="news">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Giới thiệu tính năng trên website Toeic 123</a>
                            </div>
                            <div class="date">26/07/2017</div>
                        </div>
                    </div>
                    <div class="tab-news-content" id="teach">
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">TOEIC 900: Tổng hợp các giáo trình luyện thi TOEIC 900 điểm</a>
                            </div>
                            <div class="date">02/02/2018</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cấu trúc bài thi thử toeic reading</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Cách đăng ký thành viên trên website</a>
                            </div>
                            <div class="date">22/12/2017</div>
                        </div>
                        <div class="tab-row">
                            <div class="icon"><i class="fa fa-circle"></i></div>
                            <div class="title">
                                <a href="#">Tổng hợp tài liệu thi thử toeic mới nhất hiện nay</a>
                            </div>
                            <div class="date">22/09/2017</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT SIDE BAR -->
            <!-- STAR CONTENT -->
            <div class="content">
                <!-- PRACTICES TEST -->
                <div class="content-box">
                    <div class="header">
                        <div class="h3-container">
                            <h3>Thi Thử TOEIC</h3>
                            <a class="learn-all" href="home.html">XEM TẤT CẢ »</a>
                        </div>
                    </div>
                    <!-- READING TEST -->
                    <div class="box">
                        <h:outputText value="#{HomeContentBean.message}" escape="false"/>
                        <ui:repeat var="ex_pub" value="#{HomeContentBean.list_ex}">
                            <div class="box-item">
                                <h:form>
                                    <a href="home.html">
                                        <div class="img" style="background: url('/Toeic_Web/javax.faces.resource/images/reading_test_img.png.xhtml'); background-size: cover;"></div>
                                        <span></span>
                                        <h4>#{ex_pub.name}</h4>
                                    </a>
                                    <h:commandLink action="#{HomeContentBean.gotoExam}" class="learn" value="Luyện ngay">
                                        <f:setPropertyActionListener target="#{ExamBean.id}" value="#{ex_pub.id}"/>
                                    </h:commandLink>
                                </h:form>
                            </div>
                        </ui:repeat>
                    </div>
                </div>
                <!-- VOCABULARY -->
                <div class="content-box">
                    <div class="header">
                        <div class="h3-container">
                            <h3>Từ Vựng TOEIC</h3>
                            <a class="learn-all" href="home.html">XEM TẤT CẢ »</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-book"></i> SÁCH: 600 TỪ VỰNG THIẾT YẾU CHO KÌ THI TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/contract.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 1: CONTRACT</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/marketing.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 2: MARKETING</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/WARRANTIES.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 3: WARRANTIES</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/bussiness.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 4: BUSINESS PLANNING</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-book"></i> ĐỀ THI TRONG SÁCH "600 TỪ VỰNG THIẾT YẾU CHO KÌ THI TOEIC"</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/600words.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>PHẦN 1</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/600words.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>PHẦN 2</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/600words.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>PHẦN 3</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/600words.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>PHẦN 4</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-book"></i> GIÁO TRÌNH BIG STEP TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/u1_bt.png); background-size: cover;"></div>
                                <span></span>
                                <h4>UNIT 1: DẠNG CÂU HỎI CÓ MỘT NGƯỜI</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/u2_bt.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>UNIT 2: DẠNG CÂU HỎI CÓ NHIỀU</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/u3_bt.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>UNIT 3: DẠNG CÂU HỎI CÓ HÌNH ẢNH</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/u4_bt.png); background-size: cover;"></div>
                                <span></span>
                                <h4>UNIT 4: DẠNG CÂU HỎI PHONG CẢNH</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                </div>
                <!-- LISTENING -->
                <div class="content-box">
                    <div class="header">
                        <div class="h3-container">
                            <h3>Luyện Nghe TOEIC</h3>
                            <a class="learn-all" href="home.html">XEM TẤT CẢ »</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-headphones"></i> BÍ KÍP LUYỆN NGHE TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_tq.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 1: TỔNG QUAN</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_chienthuat.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 2: CHIẾN THUẬT CHUNG</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_chienthuat.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 3: BẪY THƯỜNG GẶP</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_tanguoi.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 4: TRANH TẢ MỘT NGƯỜI</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-headphones"></i> LUYỆN NGHE TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_voc.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 1: LUYỆN NGHE TỪ VỰNG</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_ask.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 2: LUYỆN NGHE CÂU HỎI VÀ TRẢ LỜI</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_lis.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 3: LUYỆN NGHE HỘI THOẠI</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/lis_test.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 4: LUYỆN NGHE ĐỂ THI</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                </div>
                <!-- GRAMMAR -->
                <div class="content-box">
                    <div class="header">
                        <div class="h3-container">
                            <h3>Ngữ Pháp TOEIC</h3>
                            <a class="learn-all" href="home.html">XEM TẤT CẢ »</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-pencil"></i> BÍ KÍP LUYỆN THI TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_bk1.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 1: HIỂU RÕ BÀI THI TOEIC</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_bk2.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 2: DỄ TRƯỚC, KHÓ SAU</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_bk3.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 3: NHẬN BIẾT DANH TỪ - VỊ TRÍ</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_bk4.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 4: NHẬN BIẾT TÍNH TỪ - VỊ TRÍ</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-pencil"></i> CÁC CHỦ ĐIỂM NGỮ PHÁP TRONG ĐỀ THI TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_qh.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 14: MỆNH ĐỀ QUAN HỆ</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_lientu.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 13: LIÊN TỪ</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_gioitu.png); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 12: GIỚI TỪ</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_ss.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>BÀI 11: CHUYÊN ĐỀ SO SÁNH</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                    <div class="sub-header-container">
                        <h3 class="sub-header"><i class="fa fa-pencil"></i> LUYỆN TẬP NGỮ PHÁP TRONG ĐỀ THI TOEIC</h3>
                        <a href="home.html" class="viewall">Xem tất cả</a>
                    </div>
                    <div class="box">
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_grammar.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>NGỮ PHÁP PHẦN 1</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_grammar.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>NGỮ PHÁP PHẦN 2</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_grammar.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>NGỮ PHÁP PHẦN 3</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                        <div class="box-item">
                            <a href="home.html">
                                <div class="img" style="background: url(images/voc_grammar.jpg); background-size: cover;"></div>
                                <span></span>
                                <h4>NGỮ PHÁP PHẦN 4</h4>
                            </a>
                            <a href="home.html" class="learn">Học ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
            <!-- STAR RIGHT SIDE BAR -->
            <div class="sidebar-right">
                <div class="sidebar-member">
                    <div class="sidebar-member-number">29864 </div>
                </div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-dict">
                    <div class="tab-dict">
                        <ul class="tab-news">
                            <li class="tab-dict-link" onclick="openTabDict(event, 'tudien')" id="defaultOpen">Từ điển</li>
                            <li class="tab-dict-link" onclick="openTabDict(event, 'vanban')">Dịch văn bản</li>
                        </ul>
                    </div>
                    <div class="tab-dict-content" id="tudien">
                        <div class="tudien">
                            <div class="search-dict">
                                <h:form>
                                    <h:inputText title="tudien"/>
                                    <h:commandButton value="Tìm"/>
                                </h:form>
                            </div>
                            <div class="words-item">
                                <span class="words">avoid</span>
                                <p class="trans"> <span class="vip">Động từ</span> </p>
                                <p><b>Tránh; Ngừa</b></p>
                                <p>To avoid the city centre, turn right here
                                    <br> Để tránh trung tâm thành phố, hãy rẽ phải ở đây</br>
                                    <br>I think he's avoiding me</br>
                                    <br>Tôi nghĩ là anh đang tránh tôi</br></p>
                            </div>
                            <div class="words-item">
                                <span class="words">baby</span>
                                <p class="trans"> <span class="vip">Danh từ</span> </p>
                                <p><b>Em bé; con vật con</b></p>
                                <p>Both mother and baby are doing well
                                    <br> cả mẹ và bé đều khỏe mạnh</br>
                                    <br>a baby boy</br>
                                    <br>em bé trai</br></p>
                            </div>
                            <div class="words-item">
                                <span class="words">interest /'intrəst/ </span>
                                <p class="trans"> <span class="vip">Danh từ</span> </p>
                                <p><b>sự quan tâm, sự chú ý, sự thích thú</b></p>
                                <p>The subject may be full of interest to you, but it holds no interest for me
                                    <br>Chủ đề này có thể rất hấp dẫn đối với anh, nhưng tôi thì không</br>
                                    <br>A person of narrow interests</br>
                                    <br>Một người có sở thích hạn hẹp</br></p>
                                <p class="trans"> <span class="vip">Động từ</span> </p>
                                <p>interest oneself (somebody) [in something]</p>
                                <p><b>sự quan tâm, sự chú ý, sự thích thú</b></p>
                                <p>Tpolitics doesn't interest me
                                    <br>chính trị không làm cho tôi thích thú</br> </p>
                                <p><b>làm cho thích mua(ăn, làm…) gì</b></p>
                                can I interest you in our latest computer?
                                <br>Tôi có thể giới thiệu vớu ông kiểu máy điện toán đời mới nhất của chúng tôi không ạ?</br>
                            </div>
                        </div>
                    </div>
                    <div class="tab-dict-content" id="vanban">
                        <div class="vanban">
                            <p><b>Nội dung cần dịch</b></p>
                            <h:form>
                                <h:inputTextarea title="txtEng" id="txtEng"/>
                                <h:commandButton value="Dịch"/>
                            </h:form>
                            <p><b>Kết quả</b></p>
                            <h:form>
                                <h:inputTextarea title="txtVi" id="txtVi"/> </h:form>
                        </div>
                    </div>
                </div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-vipbox">
                    <div class="header"></div>
                    <div class="vip-content">
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Minh Nhật</div>
                            <span class="vip">VIP</span>
                        </div>
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Tăng Hào</div>
                            <span class="vip">VIP</span>
                        </div>
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Hoàng Nguyễn</div>
                            <span class="vip">VIP</span>
                        </div>
                        <div class="vip-item">
                            <h:graphicImage name="images/ava-vip1.jpg" width="30" height="30" style="float: left;"/>
                            <div class="vip-user">Mi Mi</div>
                            <span class="vip">VIP</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-spacing">&nbsp;</div>
                <div class="sidebar-chatbox">
                    <div class="chat-item">
                        <span class="chat-user">Minh Hoàng</span>
                        <p class="chat-content">ad cho hỏi phần nội dung của ets 1200 và ets 1000 đã có trong nội dung thi thử của web mình chưa ạ?</p>
                        <p class="chat-time">2018-01-31 10:20:28</p>
                        <button class="reply-for">Trả lời</button>
                        <div class="chat-item-reply">
                            <span class="chat-user">Admin <span class="vip">Quản trị viên</span></span>
                            <p class="chat-content">Chào em. Các đề thi này đều đã có trên website nhé</p>
                            <p class="chat-time">2018-01-31 17:37:08</p>
                        </div>
                    </div>
                    <div class="chat-item">
                        <span class="chat-user">bich hoang</span>
                        <p class="chat-content">tên app là gì vậy add
                            <br></br>
                        </p>
                        <p class="chat-time">2018-01-31 10:20:26</p>
                        <button class="reply-for" reply-for="763" section="question">Trả lời</button>
                        <div class="chat-item-reply">
                            <span class="chat-user">Admin <span class="vip">Quản trị viên</span></span>
                            <p class="chat-content">Chào bạn. Hiện tại website chỉ có bản mobile bạn nhé</p>
                            <p class="chat-time">2018-01-31 17:37:07</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END RIGHT SIDE BAR -->
        </div>
        <!-- END CONTENT-CONTAINER -->
        <!-- STAR FOOTER -->
        <div class="footer">
            <h:graphicImage name="images/logo1.png"/>
            <div class="footer-l">
                <h4>Giới thiệu</h4>
                <h4>Điều khoản</h4>
                <h4>Chính sách bảo mật</h4>
            </div>
            <div class="verti-line"></div>
            <div class="footer-r">
                <h4>Về chúng tôi</h4>
                <h4><i class="fa fa-phone"></i> 01677.867.319</h4>
                <h4><i class="fa fa-envelope"></i> toeic123.vn@gmail.com</h4>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- STAR LOG IN BOX -->
        <!--        <h:panelGroup class="modal" id="modal">
                    <div class="modal-content">
                        <button class="close" id="close"></button>
                        <div class="modal-header">
                            <h3>ĐĂNG NHẬP</h3></div>
                        <hr></hr>
                        <div class="modal-body">
                            <f:view>
                                <h:form class="form login-form" id="sidebar-login-form">
                                    <div class="form-line">
                                        <a href="#" class="google-login"><i class="fa fa-google-plus"></i> <b>Đăng nhập bằng Google</b></a>
                                    </div>
                                    <div class="form-line">
                                        <label for="username">Email khoản:</label>
                                        <h:inputText id="username" title="username"/>
                                    </div>
                                    <div class="form-line">
                                        <label for="password">Mật khẩu:</label>
                                        <h:inputSecret id="password" title="password"/>
                                    </div>
                                    <div class="form-line">
                                        <h:commandButton value="Đăng nhập" id="login"/>
                                    </div>
                                    <div class="form-line"><a href="#" class="forgot-pass">Quên mật khẩu?</a></div>
                                </h:form>
                            </f:view>
                        </div>
                    </div>
                </h:panelGroup>-->
        <!-- END LOG IN BOX -->
        <!-- STAR SIGN UP BOX -->
        <!--        <div class="modal" id="modal1">
                    <div class="modal-content">
                        <button class="close" id="close1"></button>
                        <div class="modal-header">
                            <h3>ĐĂNG KÝ</h3></div>
                        <hr></hr>
                        <div class="modal-body">
                            <f:view>
                                <h:form class="form login-form" id="sidebar-login-form">
                                    <div class="form-line">
                                        <a href="#" class="google-login"><i class="fa fa-google-plus"></i> <b>Đăng ký bằng Google</b></a>
                                    </div>
                                    <div class="form-line">
                                        <label for="username">Email:</label>
                                        <h:inputText id="username" title="username"/>
                                    </div>
                                    <div class="form-line">
                                        <label for="password">Mật khẩu:</label>
                                        <h:inputSecret id="password" title="password"/>
                                    </div>
                                    <div class="form-line">
                                        <label for="password">Nhập lại mật khẩu:</label>
                                        <h:inputSecret id="password" title="password"/>
                                    </div>
                                    <div class="form-line">
                                        <h:commandButton value="Đăng ký" id="login"/>
                                    </div>
                                </h:form>
                            </f:view>
                        </div>
                    </div>
                </div>-->
        <!-- END SIGN UP BOX -->
        <script>
            document.getElementById("defaultOpen").click();
            document.getElementById("defaultOpenNews").click();
        </script>
    </h:body>
</html>

